.companies {
    margin:0 0 130px;
    p {
        display: flex;
        justify-content: center;
        color: #667085;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        background-color: #F6F6F6;
        padding: 19px 24px;
        border-radius: 8px;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }

    }

}