.be {
    img {
        max-width: 450px;
        width: 100%;
        @media (max-width: 600px) {
            display: none;
        }
        
    }
    
    
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        background-color: #F6F6F6;
        border-radius: 20px;
        padding: 60px 50px;
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
        
        
        

    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 600px) {
        align-items: center;
            
        }
        
        h2 {
            // font-size: 72px;
            font-size: clamp(2rem, 1.091rem + 4.55vw, 4.5rem);
            line-height: 1.2;
            @media (max-width: 600px) {
                text-align: center;
                
            }
            
           

        }
        p {
            max-width: 370px;
            font-size: clamp(0.563rem, 0.403rem + 0.8vw, 1rem);
            @media (max-width: 600px) {
                text-align: center;
                
            }
            
        }
        
        
        button {
            max-width: 170px;
            padding: 15px;
            border: none;
            color: white;
            background-color: #8EADD5;
            text-transform: uppercase;
            border-radius: 8px;

            
        }
}
}