.system {
    img {
        max-width: 450px;
        width: 100%;
    }
    margin: 0 0 100px;
    &__wrapper {
        margin-top: 50px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        @media (max-width: 600px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }

    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h2 {
            margin-top: 70px;
            font-size: clamp(2rem, 1.091rem + 4.55vw, 4.5rem);
            line-height: 1.2;
            max-width: 900px;
            width: 100%;

        }
        p {
            max-width: 370px;
            
        }
        button {
            max-width: 70px;
            border: none;
            background-color: #fff;
            position: relative;
            right: 20px;
            @media (max-width: 600px) {
                transform: rotate(90deg);
                
            }
        }
        @media (max-width: 600px) {
            text-align: center;
            align-items: center;
            
        }
    }
}